*{
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
    display: none;
}

body{
  width: 100%;
  overflow-x: hidden;
}

/*********** START **********/

#start{
  width: 100%;
  height: 910px;
  position: relative;
  z-index: -1;
  background-color: black;
}

/********** START · GLITCH-TYPE **********/
.glitch_word_box {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
    top: 380px;
  }

.glitch-word {
      color: #fdfef9;
      font-weight: bolder;
      font-size: 10em;
      margin: 0;
      outline: none;
      padding: 0;
      position: relative;
}

.glitch_word_box {
      height: 100px;
      line-height: 100px;
      position: relative;

      -webkit-animation: disappear 10s linear;
      -webkit-animation-iteration-count: infinite, infinite;
}

.glitch_word_box .glitch_word0 {
      position: absolute;
      width: 100%;
}

.glitch_word_box .glitch_word1 {
      color: #eb5a83;
      font-weight: bolder;
      left: -2px;
      position: absolute;
      top: -2px;
      width: 100%;
      z-index: -1;

      -webkit-animation: animate_glitch_1 2.2s linear;
      -webkit-animation-iteration-count: infinite;
}

.glitch_word_box .glitch_word2 {
      color: #384495;
      font-weight: bolder;
      left: 2px;
      position: absolute;
      top: 2px;
      width: 100%;
      z-index: -1;

      -webkit-animation: animate_glitch_2 2.3s linear;
      -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes animate_glitch_1 {
        0% { top: 1px; left: 1px; }
      25% { top: 3px; left: 2px;	 }
      50% { top: -1px; left: -4px;	}
      75% { top: 2px; left: 5px;	}
      100% {	top: 1px; left: -2px;	}
}

@-webkit-keyframes animate_glitch_2 {
        0% { top: -1px; left: -1px;	}
      25% { top: -3px; left: -2px;	}
      50% { top: 1px; left: 4px; }
      100% { top: -1px; left: -1px; }
}

@-moz-keyframes animate_glitch_1 {
        0% { top: 1px; left: 1px; }
      25% { top: 3px; left: 2px;	 }
      50% { top: -1px; left: -4px;	}
      75% { top: 2px; left: 5px;	}
      100% {	top: 1px; left: -2px;	}
}

@-moz-keyframes animate_glitch_2 {
        0% { top: -1px; left: -1px;	}
      25% { top: -3px; left: -2px;	}
      50% { top: 1px; left: 4px; }
      100% { top: -1px; left: -1px; }
}

@-o-keyframes animate_glitch_1 {
        0% { top: 1px; left: 1px; }
      25% { top: 3px; left: 2px;	 }
      50% { top: -1px; left: -4px;	}
      75% { top: 2px; left: 5px;	}
      100% {	top: 1px; left: -2px;	}
}

@-o-keyframes animate_glitch_2 {
        0% { top: -1px; left: -1px;	}
      25% { top: -3px; left: -2px;	}
      50% { top: 1px; left: 4px; }
      100% { top: -1px; left: -1px; }
}


/********** REAL **********/

#real{
  background-color: #fdfef9;
  width: 100%;
  height: 2900px;
  z-index: 1;
  margin-top: -10px;
  position: relative;
}

#computer-earth{
  position: absolute;
  padding-top: 0px;
  width: 1440px;
  height: 750px;
}

#computer-wire{
  position: relative;
  padding-top: 0px;
  width: 1440px;
  height: 750px;
  margin-left: 15px;
}

#wire{
  margin-left: 530px;
  margin-top: -95px;
}

/***** BROWSERS *****/

#browsers{
  display: flex;
  align-items: center;
  justify-content: center;
}

.browser{
  width: 400px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fdfef9;
}

#browser1{
  margin-top: -50px;
}

#browser2{
  position: absolute;
  margin-left: -250px;
  margin-top: 50px;
}

#browser3{
  position: absolute;
  margin-left: -100px;
  margin-top: 150px;
}

#browser4{
  position: absolute;
  margin-left: -250px;
  margin-top: 250px;
}

#browser5{
  position: absolute;
  margin-left: -400px;
  margin-top: 350px;
}

#browser6{
  position: absolute;
  margin-left: -550px;
  margin-top: 450px;
}

#browser7{
  position: absolute;
  margin-left: -700px;
  margin-top: 550px;
}

#browser8{
  position: absolute;
  margin-left: -550px;
  margin-top: 650px;
}

#browser9{
  position: absolute;
  margin-left: -400px;
  margin-top: 750px;
}

#browser10{
  position: absolute;
  margin-left: -250px;
  margin-top: 850px;
}

#browser11{
  position: absolute;
  margin-left: -100px;
  margin-top: 950px;
}

#browser12{
  position: absolute;
  margin-left: -250px;
  margin-top: 1050px;
}

#browser13{
  position: absolute;
  margin-left: -400px;
  margin-top: 1150px;
}

#browser14{
  position: absolute;
  margin-left: -550px;
  margin-top: 1250px;
}

#browser15{
  position: absolute;
  margin-left: -700px;
  margin-top: 1350px;
}

#browser16{
  position: absolute;
  margin-left: -550px;
  margin-top: 1450px;
}

#browser17{
  position: absolute;
  margin-left: -400px;
  margin-top: 1550px;
}

/********** BETWEEN **********/

#between-box{
  height: 90px;
}

#between1{
  width: 100%;
  height: 3000px;
  background-image: url("../img/glitch5.gif");
  background-size: contain;
  position: absolute;
}

#between2{
  width: 100%;
  height: 3000px;
  background-image: url("../img/glitch7.gif");
  background-size: contain;
  position: relative;
}

#between3{
  width: 100%;
  height: 3000px;
  background-image: url("../img/glitch4.gif");
  background-size: contain;
  position: relative;
}

.drop {
  width: 600px;
  height: 200px;
  background-image: url("../img/glitch4.gif");
  position: fixed;
  left: 15%;
}

.drop1 {
  width: 500px;
  height: 300px;
  background-image: url("../img/glitch7.gif");
  position: fixed;
  left: 45%;
}

.drop2 {
  width: 700px;
  height: 300px;
  background-image: url("../img/glitch5.gif");
  position: fixed;
  left: 60%;
}

.drop3 {
  width: 500px;
  height: 300px;
  background-image: url("../img/glitch5.gif");
  position: fixed;
  left: 0%;
}

.drop4 {
  width: 500px;
  height: 100px;
  background-image: url("../img/glitch7.gif");
  position: fixed;
  left: 30%;
}

.drop5 {
  width: 400px;
  height: 200px;
  background-image: url("../img/glitch4.gif");
  position: fixed;
  left: 5%;
}

/********** BLUE BOX **********/

#blue-box{
  height: 900px;
  width: 100%;
  background-color: blue;
  position: fixed;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p-box{
  margin:100px;
}

#window-icon{
  margin-left:500px;
  padding-bottom: 50px;
}

#text-box{
  overflow-y: hidden;
  width: 100%;
  height: 600px;
}

#text-box::-webkit-scrollbar {
    display: none;
}

.text{
  font-size:20px;
  color: white;
  font-family: "terminalvector";
  white-space:nowrap;
  overflow:hidden;
}

#blue-box-type{
  margin-top: 50px;
}

#nede-text{
  margin-top: 150px;
}
